#lista {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#lista img {
    width: 200px;
    height: 200px;
}

.ricerca {
    text-align: center;
    width: 100%;
    float: left;
    margin: 150px 0 60px;
    background-color: #ff9133;
    padding: 40px 0;
}

.barraRicerca {
    font-size: 16px;
}

.buttonRicerca {
    background-color: orange;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.generi {
    font-size: 16px;
}

.cercatoGame {
    margin: 20px 0;
}

.cercatoGame img {
    border: 1px solid #cfcfcf;
    -webkit-box-shadow: 4px 6px #adadad;
    box-shadow: 4px 6px #adadad;
}

.cercatoGame button {
    border: 0px;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px;
    background-color: #ff9133;
}

.cercatoGame button:hover {
    transform: scale(1.06);
}

.infoGame {
    float: left;
    padding: 20px;
    border: 1px solid #cfcfcf;
    box-shadow: 4px 6px #adadad;
    margin: 12px;
}

.infoGame:hover {
    transform: scale(1.06);
}

.priceGame {
    padding: 10px;
}

h2:after {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    content: "";
    background: #FF9133;
    height: 2px;
    margin-top: 13px;
}

.descrizione {
    position: relative;
    top: 135px;
}