#lista {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#lista img {
    width: 200px;
    height: 200px;
}

.ricerca {
    text-align: center;
    width: 100%;
    float: left;
    margin: 30px 0 80px;
    background-color: orange;
    padding: 40px 0;
}

.barraRicerca {
    font-size: 16px;
}

.buttonRicerca {
    background-color: orange;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.generi {
    font-size: 16px;
}

.cercatoGame {
    background-color: tomato;
}

.infoGame {
    float: left;
    padding: 20px;
    border: 1px solid #cfcfcf;
    box-shadow: 4px 6px #adadad;
    margin: 12px;
}

.infoGame:hover {
    transform: scale(1.06);
}

.priceGame {
    padding: 10px;
}