<div class="searchEdit">
    <input class="inputEdit" type="text" [(ngModel)]="searchBar"><button class="editBtnSearch" (click)="search()">Cerca</button>

</div>
<div class="formEdit" *ngIf="trovato">



    <form (ngSubmit)="edit()" [formGroup]="editForm">

        <label class="label">Titolo: </label>
        <input class="inputFormEdit" type="text" formControlName="title"> <br>

        <label class="label">Prezzo: </label>
        <input class="inputFormEdit" type="number" formControlName="price"><br>


        <label class="label">Genere: </label>
        <select class="inputFormEdit" formControlName="genere">
           <option *ngFor="let genere of generes">{{genere.description}}</option>
      </select>
        <br>

        <label class="label">Data: </label>
        <input class="inputFormEdit" type="date" formControlName="data"><br>


        <label class="label">Rating: </label>
        <input class="inputFormEdit" type="number" formControlName="rating"><br>


        <button class="btnSubmit" type="submit" [disabled]="editForm.status== 'INVALID'">Modifica</button>
        <button class="btnReset" type="button" (click)="resetForm()">Azzera</button>
    </form>



</div>
<div *ngIf="errore">
    hai sbagliato a cercare
</div>