.ng-invalid:not(form) {
    border: 1px solid red;
}

.searchEdit {
    position: relative;
    top: 120px;
    font-size: 30px;
    width: 30%;
    margin-left: 36%;
}

.inputEdit {
    width: 70%;
    font-size: 20px;
}

.editBtnSearch {
    width: 25%;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: orange;
    margin-left: 5px;
}

.formEdit {
    width: 40%;
    margin-left: 28%;
    background-color: orange;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: 160px;
}

.inputFormEdit {
    margin-top: 10px;
    width: 40%;
    font-size: 20px;
    margin-right: 5px;
}

.label {
    width: 30%;
    color: white;
    font-size: 20px;
}

.btnSubmit {
    width: 20%;
    margin-left: 18%;
    padding: 15px;
    margin-right: 4%;
    background-color: rgb(194, 102, 16);
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    font-size: 15px;
}

.btnReset {
    width: 20%;
    margin-right: 18%;
    padding: 15px;
    background-color: rgb(194, 102, 16);
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}

.form-options {
    padding: 8px;
}

h2:after {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    content: "";
    background: #FF9133;
    height: 2px;
    margin-top: 13px;
}

.descrizione {
    position: relative;
    top: 100px;
}