#footer {
    height: 60px;
    background-color: #000;
    color: #fff;
}

h5 {
    margin: 0px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    font-weight: 300;
}

h5 span {
    opacity: 0.65;
}