a {
    text-decoration: none;
}

ul {
    padding: 0px;
}

li {
    display: inline-block;
}

#navbar {
    height: 50px;
    background-color: orange;
}

#navbar a {
    padding: 16px;
    color: #fff;
}

#navbar a:hover {
    opacity: 0.85;
    background-color: #ca8300;
}

.right {
    float: right;
}