<div id="navbar">
    <nav>
        <div class="logo">
            <img src="../../../assets/img/origin.png" alt="">
        </div>
        <div>Benevenuto {{user}}</div>
        <ul class="right">
            <li>
                <a routerLink="/home">HOME</a>
            </li>
            <li>
                <a routerLink="/list">LIST</a>
            </li>
            <li>
                <a routerLink="/detail">DETAIL</a>
            </li>
            <li>
                <a routerLink="/edit">EDIT</a>
            </li>
            <li>
                <a>LOGOUT</a>
            </li>
        </ul>
    </nav>
</div>