<div id="navbar">
    <nav>
        <ul class="right">
            <li>
                <a routerLink="/home">HOME</a>
            </li>
            <li>
                <a routerLink="/list">LIST</a>
            </li>
            <li>
                <a routerLink="/detail">DETAIL</a>
            </li>
            <li>
                <a routerLink="/edit">EDIT</a>
            </li>
            <li>
                <a routerLink="/login">LOGIN</a>
            </li>
        </ul>
    </nav>
</div>