<div class="home">

    <div class="homeImg">
    </div>

    <div class="descrizione" style="text-align:center;">
        <span><img src="../../../assets/img/origin.png" alt="" style="width:100px;"></span>
        <h2 style="font-weight: bold;font-size:50px;">Scopri le ultime novità</h2>
        <h4 style="opacity: 0.65;font-size: 25px;">Prossimamente: Monster Hunter World</h4>
    </div>

    <div id="lista">
        <img src="../../../assets/img/destiny.jpg" alt="">
        <img src="../../../assets/img/godofwar.jpg" alt="">
        <img src="../../../assets/img//skyrimwallpaper.png" alt="">
    </div>

    <div id="optin" style="text-align:center;">
        <div class="container">
            <p>Entra a far parte della community più grande di sempre.</p>
            <button>Partecipa</button>
        </div>
    </div>

</div>

<app-footer></app-footer>