<div class="home">

    <div class="homeImg">
        <h1 class="textHomeImg">Benvenuti su Origin(tarocco)</h1>
    </div>


    <div class="logo">
        <img src="../../../assets/img/origin.png" alt="">
    </div>


    <div class="text">
        <h3>Facile</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, iste voluptate sunt voluptas harum consectetur beatae! Inventore, sapiente. Perspiciatis ea incidunt adipisci dolorum ut enim sapiente ipsum veniam mollitia obcaecati?</p>
    </div>
    <div class="text">
        <h3>Consiglia</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium cum maxime at molestias ex! Voluptas ducimus pariatur iusto repellendus hic, quisquam, ipsa error molestiae, deserunt corporis impedit porro accusamus laborum neque ullam. Odit,
            nisi doloremque.</p>
    </div>
    <div class="text">
        <h3>Profuma di pino</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia cupiditate rem, eos quos ea voluptas in delectus repellendus libero magnam, eveniet nostrum, iusto molestiae repellat laudantium vel perspiciatis minima omnis? Pariatur,
            ipsum aliquam.</p>
    </div>
</div>