#wrap {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 60px;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 240px 450px;
    min-width: 50%;
    min-height: 50%;
}

.img_login img {
    width: 20%;
}

.login_container {
    width: 50%;
    background-color: orange;
    padding: 15px;
    border-radius: 5px;
    margin: 50px auto;
}

.input_text {
    font-size: 22px;
}

.button {
    width: 20%;
    margin: 20px auto 10px;
    padding: 15px;
    background-color: rgb(194, 102, 16);
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.text_log {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
    cursor: pointer;
}